*{
	margin: 0;
	padding: 0;
}


.wrap{
	padding: 20px;
	margin: 20px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: hidden;
}

.left{
	float: left;
	width: 160px;
	background-color: #fff;
	padding: 20px;
}

.right{
	float: right;
	width: 120px;
	background-color: #fff;
}

.content{
	margin-left: 240px;
	margin-right: 160px;
	background-color: #fff;
	padding: 20px;
}

.left img{
	width: 80px;
	height: 80px;
	float: left;
}

.left span{
	padding-left: 10px;
	font-size: 14px;
	font-family: "黑体";
}

.right img{
	display: block;
	margin: 20px auto;
}

.content p{
	font-size: 14px;
	font-family: "黑体";
	margin-bottom: 10px;
}
