*{
	margin: 0;
	padding: 0;
}

.center{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	overflow: hidden;
}

.left-top{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: orange;
	position: absolute;
	top: -50px;
	left: -50px;
}

.right-bottom{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: orange;
	position: absolute;
	right: -50px;
	bottom: -50px;
}